{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>P's Clinic | appointment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'app/appointment_css/style.css' %}">

	</head>
	<body class="img" style="background-image: url(https://media.istockphoto.com/photos/professional-teeth-cleaning-black-female-dentist-having-treatment-picture-id1352711918?b=1&k=20&m=1352711918&s=170667a&w=0&h=jkjGH84AWP-hMNJJ9_hhZtPIp6m0T-stoZowznAJMDQ=);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Book An Appointment</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap">
		      	<h3 class="text-center mb-4">Book Now</h3>
						<form action="" method="post" class="signup-form">
                            {% csrf_token %}
		      		<div class="form-group mb-3">
		      			<label class="label" for="name">Full Name</label>
		      			<input type="text" name="name" class="form-control" placeholder="John Doe" required_id="id_name">
		      			<span class="icon fa fa-user-o"></span>
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Email Address</label>
		      			<input type="email" name="email" class="form-control" placeholder="johndoe@gmail.com" required_id="id_email">
		      			<span class="icon fa fa-paper-plane-o"></span>
		      		</div>
	            <!-- <div class="form-group mb-3">
	            	<label class="label" for="password">Password</label>
	              <input id="password" type="password" class="form-control" placeholder="Password">
	              <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	              <span class="icon fa fa-lock"></span>
	            </div>
	            <div class="form-group mb-3">
	            	<label class="label" for="password">Password</label>
	              <input id="password-confirm" type="password" class="form-control" placeholder="Password">
	              <span toggle="#password-confirm" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	              <span class="icon fa fa-lock"></span>
	            </div> -->
                <div class="form-group mb-3">
                    <label class="label" for="department">Department</label>
                    <div class="select-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="department" class="form-control appointment_time" required id="id_apartment">
                            <!-- <option value="">Time</option> -->
                            <option value="Teeth Whitening">Teeth Whitening</option>
                            <option value="Teeth Cleaning">Teeth Cleaning</option>
                            <option value="Braces">Braces</option>
                            <option value="Modern Anesthetic">Modern Anesthetic</option>
                        </select>
                      </div>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="Time">Time</label>
                    <div class="select-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="time" class="form-control appointment_time" required id="id_time">
                            <!-- <option value="">Time</option> -->
                          <option value="">Time</option>
                          <option value="8:00AM">8:00AM</option>
                          <option value="9:00AM">9:00 AM</option>
                          <option value="10:00AM">10:00 AM</option>
                          <option value="11:00AM">11:00 AM</option>
                          <option value="12:00PM">12:00 PM</option>
                          <option value="1:00PM">1:00 PM</option>
                          <option value="2:00PM">2:00 PM</option>
                          <option value="3:00PM">3:00 PM</option>
                          <option value="4:00PM">4:00 PM</option>
                          <option value="5:00PM">5:00 PM</option>
                          <option value="6:00PM">6:00 PM</option>
                          <option value="7:00PM">7:00 PM</option>
                        </select>
                      </div>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="date">Date</label>
                    <input type="text" name="date" class="form-control" placeholder="YYYY/MM/DD" required_id="id_date">
                    <span class="icon fa fa-calendar"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="phone">Phone</label>
                    <input type="text" name="phone" class="form-control" placeholder="080 123 4567 890" required_id="id_phone">
                    <span class="icon fa fa-phone"></span>
                </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
	            </div>
                
	          </form>
	          <!-- <p>I'm already a member! <a data-toggle="tab" href="#signin">Sign In</a></p> -->
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'app/appointment_js/jquery.min.js' %}"></script>
  <script src="{% static 'app/appointment_js/popper.js' %}"></script>
  <script src="{% static 'app/appointment_js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/appointment_js/main.js' %}"></script>

	</body>
</html>

